ion-header {
  background-color: var(--ion-background-color);
  height: 30px;
  ion-toolbar {
    --color: var(--ion-background-color);
    --border-width: 0;
    color: var(--ion-text-color);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    ion-title {
      font-weight: 400;
      font-size: 16px;
    }
    ion-icon {
      margin-left: 10px;
      width: 20px;
      height: 20px;
    }
    ion-button {
      --background: inherit;
      --box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      ion-icon {
        transform: rotate(90deg);
        stroke-width: 30px;
        color: #b60615;
      }
    }
  }
}

ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  ion-img {
    height: 245px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    @media (max-height: 700px) {
      height: 200px;
    }
    @media (max-height: 650px) {
      height: 150px;
    }
    @media (max-height: 600px) {
      height: 120px;
    }
  }
  ion-img::part(image) {
    height: 100%;
  }

  .store-info-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .store-info-header-container {
      display: flex;
      flex-direction: row;
      height: 30%;
      ion-button {
        position: absolute;
        right: 10px;
        --box-shadow: none
        --border-radius: 15px;
        --background: none;
        min-height: 30px;
        min-width: 30px;
        border-radius: 12px;
        margin: 0;

        ion-icon {
          width: 13px;
          height: 13px;
        }
      }
      ion-img {
        width: 90px;
        height: 90px;
        min-height: unset;
        border-radius: 12px;
      }
      ion-img::part(image) {
        height: 100%;
        border-radius: 12px;
      }
      .store-info-header-content {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        flex: 1;
        justify-content: space-around;
        .title {
          width: 70%;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 10px;
        }
        .available_hours {
          width: 140px;
          height: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          border-radius: 3px;
          background-color: #8fe29f;
          font-weight: 700;
          margin-bottom: 5px;
          line-height: 1;
          padding: 5px;
          width: fit-content;
        }
        .closed {
          background-color: var(--ion-color-primary);
          color: var(--ion-color-white);
        }
      }
    }

    ion-grid {
      margin: 0;
      padding: 0;
      ion-row {
        display: flex;
        justify-content: center;
        ion-col {
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
          height: 90px;
          background-color: var(--ion-color-white);
          border-radius: 12px;
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
          margin: 10px 5px;
          font-weight: 700;
          span.delivery_status{
            font-size: 9px;
          }
          span.closed-delivery{
            color: var(--ion-color-primary)
          }
          span.open-delivery{
            color: #8fe29f
          }

          ion-img {
            width: 35px;
            height: 30px;
            box-shadow: none;
            object-fit: fill;
          }
          ion-img::part(image) {
            width: 35px;
            height: 30px;
          }
        }
        .review-container {
          background-color: var(--ion-color-primary);
          color: var(--ion-color-white);
          .review-label {
            border-radius: 9px;
            background-color: rgba(245, 245, 245, 0.3);
            width: 60px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 16px;
          }
        }
      }
    }

    .reward-container {
      height: 90px;
      background-color: var(--ion-color-white);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
      padding: 10px;
      margin-top: 5px;
      border-radius: 12px;
      .reward-title {
        font-size: 12px;
        font-weight: 700;
      }
      .reward-description {
        font-size: 9px;
        font-weight: 500;
        margin: 5px 0 10px;
      }
      .reward-progress-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        .reward-progress {
          display: flex;
          flex-direction: row;
          flex: 1;
          .reward-progress-item {
            width: 20%;
            margin: 0 5px;
            position: relative;
            .progress {
              border-radius: 8px;
              background-color: #1f263a26;
              height: 10px;
            }
            .trophy {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 8px;
              height: 8px;
              transform: translate(-50%, -50%);
            }
            .trophy-dot {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 16px;
              height: 16px;
              transform: translate(-50%, -50%);
            }
            .progress.active {
              background-color: var(--ion-color-primary);
            }
          }
          .reward-progress-item:first-child {
            margin: 0 5px 0 0;
          }
        }

        .reward-count {
          margin: 0 5px;
          font-weight: 500;
        }
      }
    }
  }
}
