// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-background-color: #FEFFF7;
    --ion-toolbar-background: #FEFFF7;
    --ion-text-color: #343434;
    --ion-color-primary: #B60615;
    --ion-color-white: #FFF;
}